extends layout.pug

block content
  h1 Todo list
  hr
  
  if todos.length > 0
    div.todos-container
      table(class="table")
        thead
          tr
            th &nbsp;&nbsp;#
            th Date
            th Task
            th
        tbody
          each todo in todos
            include todo-item.pug

  div(style='text-align: right')
    a(class='btn btn-primary', href='todo-create')
      i(class='fa fa-plus')
      span  New Todo

block append foot
  script.
    console.log('ok')
    pets = []