tr(class='todo-item')
  td
    <input type="checkbox" checked><span></span></label>
  td= todo.human_date
  td= todo.description
  td
    a(class='btn btn-sm')
      i(class='fa fa-pencil')
    a(class='btn btn-sm')
      i(class='fa fa-trash-o')