extends layout.pug

block content
  h1 Todo list
  hr
  div(style='text-align: right')
    a(class='btn btn-primary', href='todo-create')
      i(class='fa fa-plus')
      span  Todo
  
  - var todos = ['cat', 'dog']
  each todo in todos
    include todo.pug

block append foot
  script.
    console.log('ok')
    pets = []